/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

node_modules/
resources/public/js/cljs-runtime/
resources/public/js/manifest.edn

/ssl
/out/TestCRNA
/out/ExpoTest
/src/ui-release/**/*.js
node_modules/
cljs-runtime/
js/
!src/main/shadow/js
!packages/launcher/web/css
/public/assets
/wiki
/book
/blog
/examples
/src/gen
*.iml
*.js.map
.cpcache
.cljs-cache
.shadow-cljs
.cljs-repl
.cljs_node_repl
.idea
.nrepl-*
/doc/codox
/tmp
/ssl
.DS_Store
*.log

.clj-kondo
