;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:frontend
  {:target :browser
   :output-dir "resources/public/js"
   :modules {:main {:init-fn portfolio-2022.fe.core/init}}}}}
   
