:root {
  --main-bg-color: #ddd;
  --main-f-color: #333;
  --main-f-color-visited: #3c005a;
}

html,
body {
  margin: 0;
  font-family: Courier New, monospace;
  font-size: 1.5vw;
  background-color: var(--main-bg-color);
  color: var(--main-f-color);
  transition: 0.4s;
}

a {
  color: var(--main-f-color);
  transition: 0.4s;
}
a:visited {
  color: var(--main-f-color-visited);
  transition: 0.4s;
}

h1,
h2,
h3 {
  text-align: center;
}

@media only screen and (max-width: 450px) {
  html,
  body {
    font-size: 5vw;
  }
}

nav ul,
.social-icons ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

nav ul,
.social-icons ul {
  justify-content: space-between;
  flex-flow: row wrap;
}

nav ul li {
  padding: 0.1rem;
}

.container {
  padding: 1rem;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.social-icons ul {
  justify-content: center;
}

.social-icons img {
  height: 2rem;
  width: 2rem;
}

/* Home */
@media only screen and (max-width: 600px) {
}
.page-cover {
  text-align: center;
}
.page-cover img {
  max-width: 300px;
  width: 100%;
}

/* Switch code */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ddd;
  background-image: url("/umbrella.png");
  background-size: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-image: url("/sunglasses.png");
  background-color: #333;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
