:root {
  --main-bg-color: #333;
  --main-border-color: #bbb;
  --primary-color: #ddd;
  --secondary-color: #eabfff;
  --github-icon-url: url("/github_dark.png");
  --email-icon-url: url("/email_dark.png");
}

html,
body {
  margin: 0;
  font-family: Courier New, monospace;
  font-size: 1.5vw;
  background-color: var(--main-bg-color);
  color: var(--primary-color);
  transition: 0.4s;
}
input {
  font-size: 1.5vw;
}

a {
  color: var(--primary-color);
  transition: 0.4s;
}
a:visited {
  color: var(--secondary-color);
  transition: 0.4s;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  font-family: Baskerville, Cambria, Didot, Garamond, serif;
  text-align: center;
}

form {
  margin: 0;
}

@media only screen and (max-width: 450px) {
  html,
  body {
    font-size: 5vw;
  }
  input {
    font-size: 5vw;
  }
}

/* Helpers */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

/* Forms */
.form-group {
  display: block;
  margin-bottom: 0.5rem;
}
.form-group input,
.form-group textarea {
  width: 100%;
}

/* Layout UI */
.main-nav ul,
.social-icons ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav ul {
  justify-content: start;
}
.main-nav ul li {
  padding: 0.1rem;
}

.main-nav li.active a {
  color: var(--primary-color);
  text-decoration: none;
}

.social-icons ul {
  justify-content: end;
}
.social-icons .icon {
  height: 2rem;
  width: 2rem;
  background-size: 100% 100%;
}
.icon.github-icon {
  background-image: var(--github-icon-url);
}
.icon.email-icon {
  background-image: var(--email-icon-url);
  height: 1.7rem;
  width: 2rem;
}

.main-nav ul,
.social-icons {
  height: 100%;
}
.main-nav ul li,
.social-icons ul li {
  display: flex;
  align-items: center;
}
.main-nav ul li {
  padding: 0 0.2rem;
}
.social-icons ul li {
  padding: 0 0.1rem;
}
.main-nav .start-btn {
  display: none;
}
.form-locale {
  height: 100%;
}
.form-locale select {
  height: 100%;
  background: var(--main-bg-color);
  color: var(--primary-color);
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
}

@media only screen and (max-width: 450px) {
  .main-nav ul,
  .social-icons ul {
  }
  .main-nav ul {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: var(--main-bg-color);
    height: inherit;
    padding: 1rem;
    border-radius: 0 10px 10px 10px;
    border: 1px solid var(--main-border-color);
    font-size: 6vw;
  }
  .main-nav ul.active {
    display: block;
  }
  .main-nav ul li {
    padding: 0.2rem;
  }
  .main-nav .start-btn {
    display: block;
    background: var(--main-bg-color);
    color: var(--primary-color);
    border: 2px solid var(--main-border-color);
    border-radius: 1px;
    box-shadow: 2px 2px 0px 0 var(--secondary-color);
    padding: 0.5rem 1rem;
    text-decoration: underline;
  }
  .main-nav .start-btn:active {
    transform: translate(2px, 2px);
    box-shadow: 0 0 0px 0 rgb(60, 194, 235);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr 2rem;
  grid-template-areas:
    "header"
    "body"
    "footer";
  padding: 1rem;
  width: 90%;
  max-width: 900px;
  margin: auto;
}

header {
  grid-area: header;
}
main {
  grid-area: body;
}
footer {
  grid-area: footer;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "nav social";
  width: 100%;
  margin: auto;
}
.container-nav {
  grid-area: nav;
}
.container-social {
  grid-area: social;
}

/* Home */
@media only screen and (max-width: 600px) {
}
.page-cover {
  text-align: center;
}
.page-cover img {
  max-width: 300px;
  width: 100%;
}

/* About */
.page-about iframe {
  /* height: auto; */
  width: 100%;
}

/* Work History */
.work-list {
  margin: 0;
  padding: 0;
}
.work-list li {
  list-style: none;
}
.work-item {
  margin-bottom: 2rem;
}
.work-item label {
  text-decoration: underline;
  text-transform: capitalize;
}
.work-item label:after {
  content: ":";
  margin-right: 0.3rem;
}
.work-item .company-name {
  font-weight: bold;
}
.work-item .description {
  margin: 0.5rem 0;
}
.work-item .tags {
  margin: 0;
  padding: 0;
  list-style: none;
}
.work-item .tags li {
  color: var(--secondary-color);
  display: inline-block;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--main-border-color);
}

/* Terminal */
#terminal {
  background-color: #222;
  padding: 1rem;
}

/* Contact */
.page-contact label {
  text-transform: capitalize;
}

/* Not Found */
.page-not-found {
  width: 100%;
}

/* Switch code */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ddd;
  background-image: url("/umbrella_light.png");
  background-size: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-image: url("/sunglasses_dark.png");
  background-color: var(--main-bg-color);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
