[{:company-name "Total English Support Team"
  :date-start "2014-10"
  :date-end "2014-12"
  :employment-type "副業"
  :tags ["PHP" "HTML" "CSS" "JS"]
  :description "カスタムWordpressウェブサイトを提供しました。"}
 {:company-name "Servcorp Japan"
  :date-start "2015-05"
  :date-end "2017-06"
  :employment-type "正社員"
  :tags ["C#" "PHP" "HTML" "CSS" "JS" "Node.js"]
  :description
  "マーケティングキャンペーン用のウェブサイトの維持を担当。 同社の公式サイトも整備。"}
 {:company-name "Mickey Kids"
  :date-start "2016-06"
  :date-end "2016-08"
  :employment-type "副業"
  :tags ["PHP" "HTML" "CSS" "JS"]
  :description "カスタムWordpressウェブサイトを提供しました。"}
 {:company-name "Present Day Technology"
  :date-start "2017-02"
  :date-end "2017-07"
  :employment-type "副業"
  :tags ["mysql" "node.js" "graphQL" "react" "meteor" "AWS"]
  :description
  "2人のチームで働き、Diaz Gill社に[高度にカスタマイズされたWebサイト](https://diazgill.com/)を提供しました。 彼らは本当に顧客を驚かせるページを望んでいましたが、スタッフはページを最新の状態に保ち、データ入力を行うことができる必要がありました。 データ入力のために、私たちは彼らにワードプレスを与えました。 次に、BFFはワードプレスDBからデータを取得し、GraphQLを介してフロントエンドに提供します。 私はSREとバックエンド作業の一部を担当していました。
  このサイトはもうメンテナンスしていませんが、まだ使用しているようです。"}
 {:company-name "ZEALS株式会社"
  :date-start "2017-07"
  :date-end nil
  :employment-type "正社員"
  :tags
  ["HTML"
   "CSS"
   "javascript"
   "typescript"
   "react.js"
   "redux"
   "electron"
   "node.js"
   "webpack"
   "ruby on rails"
   "MySQL"
   "redis"
   "GCP"
   "PHP"]
  :description
  "Fanpという会社のアプリのフロントエンドを作成するフロントエンドエンジニアとしてスタートしました。これにより、社内の人々がチャットボットを作成したり、ユーザーを表示したり、設定を微調整したりできるようになりました。他の3人のエンジニアとデザイナーの助けを借りてフロントエンドを最初から作成しました。 後で、バックエンドのさまざまな部分をRubyonRailsで作成しました。 必要に応じてRestAPI、モデル、移行、テストなどを実行します。
  
  また、電子で別の内部ツールを使用して、ビジネスチームに必要なさまざまな内部機能を提供しました。
  
  私が作成したインフラストラクチャのもう1つの重要な部分 スクラッチは私たちのブラウザ自動化ツールでした。 プログラムで制御されるさまざまなタスクのWebページの操作を自動化できるものが必要でした。 キューメカニズムとしてredisを使用するnode.jsでブラウザー自動化サーバーを作成しました。 その構成は、Reactで作成された画面を介して内部メンバーによって作成されます。"}
 {:company-name "AXAジャパン"
  :date-start "2023-03"
  :date-end "2024-03",
  :employment-type "Full-Time"
  :tags
  ["clojure"
   "typescript"
   "Next.js"
   "AWS"
   "HTML"
   "CSS"
   "SaaS"
   "kanban"
   "react"
   "jotai"
   "node.js"
   "Postgres"
   "redis"]
  :description
  "AXAジャパンは、世界第1位の保険会社AXA保険会社の日本支社です。

### 責任

- 社内プラットフォームの新機能とバグ修正をコーディングして提供します
- レガシーアプリケーションとAPIを最新の言語とインフラストラクチャに移行します。
- すべての社内および顧客向けアプリケーションで使用される React コンポーネント設計システムとその他の JavaScript ライブラリの保守を支援します。
- プロダクトオーナーおよびデザイナーとともに UI/UX を改修します。
- プロダクトオーナー、テスター、運用担当者と協力して、アジャイル プラクティスに重点を置いて配信プラクティスを合理化します。
- アプリケーション/API およびドキュメント戦略の標準化など、非技術的なイニシアチブを推進します。
- コード レビューを実施します。
- AXA で React/JS/TS のベスト プラクティスをローカルおよびグローバルに展開および推進します。

### 注目の達成

- 従来の JavaScript Facebook「フロー型」アプリケーションを TypeScript プロジェクトに移行しました。
- Zod および OpenAPI ツールを使用して、型安全な API、検証、API ドキュメントの自動化を促進し、人的エラーを減らし、コラボレーションを改善しました。
- 組織の公式ツールとなった Cypress を通じて、エンドツーエンドのテストの自動化を促進しました。
- 内部 API と対話するための TypeScript ライブラリを作成し、コードの重複を減らして組織全体の使いやすさを向上させました。
  "}
 {:company-name "トヨクモ株式会社"
  :date-start "2024-04"
  :date-end nil,
  :employment-type "Full-Time"
  :tags
  ["clojure"
   "typescript"
   "Next.js"
   "AWS"
   "HTML"
   "CSS"
   "SaaS"
   "kanban"
   "react"
   "jotai"
   "node.js"
   "Postgres"
   "redis"]
  :description
  "トヨクモは、ビジネス向けのクラウドサービスを提供するサービス企業です。 「安否確認サービス」や「サイボウズkintoneに連携するサービス」、「スケジューラー」の提供を行なっております。

### 責任

- kMailer アプリケーションの新規機能とバグ修正を開発して提供します。
- エンドユーザーに早速に価値を提供します。
- 新機能の高レベルのソフトウェア設計します。
- プロダクトオーナーとデザイナーとともにUI/UXを改修します。
- AWS を通じてクラウド リソースをメンテナンスとアップグレードします。
- 機能開発のベストプラクティスを確立します。
- コードレビューを実施します。
- ReactコンポーネントDesign Systemを開発します。

### 注目の達成

- 美しいメールを作成するための エディターを作成しました。
- React アプリケーションの状態設計をリファクタリングして、レンダリングを 50% 以上高速化しました。
- フロントエンドアプリケーションのテスト範囲を40%増加しました。"}]
